/* INTERNAL */
/* @property --health-value {
  syntax: '<integer>';
  initial-value: 4000;
  inherits: false;
} */

html {
  --font-tech: 'Abel', 'Noto Sans', 'Segoe UI', system-ui, sans-serif;
  --font-title: 'Luckiest Guy', 'Abel', 'Segoe UI', system-ui, sans-serif;
  --font-flavour: 'Sniglet', 'Segoe UI', system-ui, sans-serif;

  --player-1-colour: var(--col-accent-prot);
  --player-2-colour: var(--col-accent-deut);

  --interaction-size: 4px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.player-1 {
  --this-colour: var(--player-1-colour);
  --other-colour: var(--player-2-colour);
}
.player-2 {
  --this-colour: var(--player-2-colour);
  --other-colour: var(--player-1-colour);
}


/* CORE */
body {
  overflow-x: hidden;
}

input {
  width: 12rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  text-align: center;
  border: none;
  transition: all 0.12s ease;
}
button.clean {
  background-color: white;
  color: var(--blue-sky);
  border: 0.2rem solid var(--grey-nova);
}
button:is(:hover, :focus) {
  box-shadow: 0 0 0 var(--interaction-size) var(--grey-swallow);
}
button.clean:is(:hover, :focus) {
  border-color: var(--blue-sky);
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.9);
}


/* SECTIONS */
.player-1, .player-2 {
  color: var(--this-colour);
}
/* :is(.player-1, .player-2)::selection {
  color: white;
  background-color: var(--this-colour);
} */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.health-display {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* PARTS */
.health-display {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}

.health-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.health-text {
  font-size: 12rem;
  font-family: var(--font-title);
}

.health-menu meter {
  width: 20rem;
  height: 3rem;
}
.health-menu meter::-webkit-meter-bar {
  background: color-mix(in srgb, var(--this-colour) 42%, transparent);
  outline: var(--grey-swallow) solid var(--interaction-size);
}
.health-menu meter::-webkit-meter-optimum-value {
  background: var(--this-colour);
}

.health-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.health-input input {
  text-align: center;
  font-family: var(--font-tech);
  font-size: 1.69rem;
}

.health-display button {
  width: 3rem;
  height: 3rem;
  flex: none;
  color: white;
  border-radius: 50%;
}
.health-display button.polarity-positive {
  background-color: var(--col-accent-prot);
}
.health-display button.polarity-negative {
  background-color: var(--col-accent-deut);
}

.health-display button:is(:hover, :focus) {
  background-color: var(--purp-nova);
}

.action-buttons {
  margin: 4rem;
  display: flex;
  flex-direction: row;
}

.action-buttons button {
  min-width: 4.4em;
  margin: auto 0.5rem auto;
  padding: 0.42em 0.69em 0.42em;
  background-color: var(--grey-swallow);
  font-size: 169%;
  font-family: var(--font-flavour);
  color: var(--blue-sky);
  border-radius: 0.69em;
}
.action-buttons button:is(:hover, :focus) {
  background-color: var(--pink-elec);
  color: white;
}

.notes {
  --this-colour: var(--lilac-nova);
  width: 100vw;
}
.note-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notes input {
  margin: auto 0.5rem;
  font-family: var(--font-flavour);
  font-size: 150%;
}
.notes input.long {
  width: 30%;
}
.notes input.short {
  width: 7%;
}

.notes button.delete-note {
  margin-left: 0.69rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--pink-elec);
  color: white;
  border-radius: 50%;
}
.notes button.delete-note:is(:hover, :focus) {
  background-color: var(--purp-nova);
}


/* MISCELLANEOUS */
.flavour-text {
  width: 100vw;
  margin-bottom: 2rem;
}
.flavour-text input {
  width: 96vw;
  padding-bottom: 10px;
  text-align: center;
  font-family: var(--font-flavour);
  font-size: 200%;
  color: var(--grey-spirit);
  border: none;
}
.flavour-text input::selection {
  background-color: var(--lilac-cresc);
  color: white;
}
.flavour-text input:focus {
  padding-bottom: 8px;
  border-bottom: 2px dashed var(--lilac-cresc);
  outline: none;
}

button#shortcuts-help {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 42%;
}
.overlay {
  display: none;
  position: fixed;
  width: 90vw;
  height: 42vh;
  background-color: rgba(0 0 0 42%);
}
