.interactive {
  border: 2px solid var(--col-grey);
  border-color: none;
  border-radius: 2rem;
  transition: all 0.12s ease-out;
}
.interactive:is(:hover, :focus) {
  border-color: var(--this-colour);
  box-shadow: 0 0 0 var(--interaction-size) color-mix(in srgb, var(--this-colour) 42%, transparent);
  outline: none;
}
