/* CORE */
input {
  --this-colour: var(--blue-nova);
  --interaction-size: 4px;
  text-align: center;
  font-size: 100%;
}

/* SECTIONS */
.card-editor {
  width: 50%;
}

.card-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: bottom;
}
